.container {
  width: 100vw;
  height: 81vh;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #035e3f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(221, 221, 221);

  .welcome{
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .formContainer{
    font-weight: 400;
    .field{
      margin-bottom: 20px;
      .title{
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      .input{
        padding: 10px;
        border-radius: 15px;
        font-size: 1.0rem;

        &:focus{
          outline: none;
          border: solid 3px rgb(216, 18, 196);
        }
      }
    }
    .btn {
      cursor: pointer;
      margin-top: 50px;
      background-color: #007b54;
      padding: 10px;
      border-radius: 5px;
      font-weight: 600;

      &:hover{
        background-color: #b1ffc1;
      }
    }
  }
}